In [1]:
#import packages
import pandas as pd
import numpy as np
import os

In [2]:
#read the data file
rawdata_df = pd.read_csv('diabetes.csv',na_values="?",engine='python')

In [3]:
#shape of the dataframe
rawdata_df.shape

(101766, 50)

In [4]:
#make a copy of the dataframe
cleandata_df = rawdata_df.copy()

#checking for the number of missing values per feature (if > 0)
for x in cleandata_df.columns:
    is_object = cleandata_df[x].dtype
    if is_object == object and cleandata_df[x][cleandata_df[x]=='?'].count() > 0:
        print(x,': % missing values - ',cleandata_df[x][cleandata_df[x]=='?'].count()*100/cleandata_df[x].count())

In [5]:
#drop the feature 'weight'
cleandata_df.drop(['weight'],inplace = True, axis = 1)

In [6]:
#check the shape again 
cleandata_df.shape

(101766, 49)

In [8]:
#replace missing values with NaN
cleandata_df.replace('Unknown/Invalid',np.NaN,inplace=True)

In [9]:
#checking if '?'s are replaced with NaN
for z in cleandata_df.columns:
    is_object1 = cleandata_df[z].dtype
    if is_object1 == object and cleandata_df[z][cleandata_df[z]=='?'].count() > 0:
        print(z,': % missing values - ',cleandata_df[z][cleandata_df[z]=='?'].count()*100/cleandata_df[z].count())

In [10]:
cleandata_df['readmitted'] = cleandata_df['readmitted'].astype('category')
print(cleandata_df['readmitted'].dtype)

category

In [14]:
#recoding using one hot encoding on the feature 'readmitted' (our target will be readmitted < 30 days)
cleandata_df = pd.concat([cleandata_df,pd.get_dummies(cleandata_df['readmitted'],prefix='readmitted')],axis = 1)

In [18]:
#check if the encoding worked
print(cleandata_df.shape)
cleandata_df.head()

(101766, 52)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,readmitted_<30,readmitted_>30,readmitted_NO
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,NO,0,0,1
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,No,No,No,Ch,Yes,>30,0,1,0
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,Yes,NO,0,0,1
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,No,No,No,Ch,Yes,NO,0,0,1
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,No,No,No,Ch,Yes,NO,0,0,1